<!DOCTYPE html>
<html ng-app="ihc">
  <head>
    <title>IHC</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link rel="stylesheet" media="screen" href="app/css/spinner.css">
    <link rel="stylesheet" media="screen" href="app/css/message.css">
    <link rel="stylesheet" media="screen" href="app/css/button.css">
    <link rel="stylesheet" media="screen" href="app/css/style.css">
    <link rel="stylesheet" media="screen" href="app/assets/font-awsome/css/font-awesome.min.css">
    <link rel="apple-touch-icon" href="graphics/icon.png"/>
    <script src="app/assets/angular/angular.min.js"></script>
    <script src="app/assets/angular-cookies/angular-cookies.js"></script>
    <script src="app/js/app.js"></script>
  </head>
  <body ng-controller="ihcCtrl">
    <div id="topbar">
      <span class="topbar-title center" style="-webkit-app-region: drag">IHC</span>
      <a href="javascript:location.reload(true)" ng-show="contentLoaded && !err" class="button button-rounded button-flat-primary"><i class="fa fa-refresh center"></i></a>
    </div>
    <div id="content" ng-init="updateDevices();">
      <form method="post" id="ip-form" ng-show = "!ip_set">
        <h3>Please enter IP-address to Node.js Server.</h3>
        <input type="text" name="ip-address" ng-model="ip.value">
        <input ng-click="setIP(ip.value)" type="submit" id="submit" value="Confirm"/>
      </form>
      <form method="post" id="main-form" ng-show = "ip_set">
        <div class="three-quarters center" ng-show = "!contentLoaded && online">
            Loading...
        </div>
        <div class="connection-error center" ng-show="!online">
          <img src="graphics/warning.png">
          Connection error
        </div>
        <fieldset ng-show="contentLoaded  && online">
        <ul class="pageitem">
          <li class="checkbox" ng-repeat="device in devices">
            <span class="name">{{device.name}}</span>
            <input id="{{device.id}}" name="{{device.name}}" ng-disabled="actionLoading" ng-checked="{{device.status.name == 'ON'}}" ng-click="togglePower(device);" type="checkbox" />
          </li>
        </ul>
        </fieldset>
      </form>
    </div>
    <div id="footer">
      <span>{{temp}}</span>
      <div id="message">
        <p class="success" ng-show="success" ng-click="success = false">{{message}}</p>
        <p class="error" ng-show="err" ng-click="err = false">{{message}}</p>
      </div>
    </div>
  </body>
</html>
